body {
    margin: 50px;
}

#name {
    font-size: 20px;
}

#headline {
    font-size: 18px;
}

#info p {
    display: inline-block;
    margin-right: 5px;
    margin-top: 0px;
}

.sectionHead {
    float: left;
    font-weight: normal;
    border-bottom: 2px solid;
    width: 100%;
}

.locations {
    position: relative;
    left: 5%;
}

@media only screen and (min-width: 1000px) {
    .skillType {
        float: left;
    }

    .skills {
        float: right;
    }
}

#program {
    position: relative;
    top: -21px;
}

#languages {
    position: relative;
    top: -21px;
    left: -210px;
}

#course {
    position: relative;
    top: -21px;
    left: -370px;
}

#proSkills {
    position: relative;
    left: 50px;
}
@media only screen and (min-width: 1000px) {
    #lanSkills {
        position: relative;
        left: -110px;
    }

    #couSkills {
        position: relative;
        left: -290px;
    }
}

.title {
    float: left;
    position: relative;
    top: -22px;
}

.projectDates {
    float: center;
    position: relative;
    left: 10px;
}

.projectLang {
    float: center;
    position: relative;
    top: -34px;
    left: 180px;
    
}

#Projects .description {
    position: relative;
    top: -30px;
}

@media only screen and (min-width: 455px) and (max-width: 554px) {
    .skillType {
        float: left;
    }

    .skill {
        width: 50%;
        position: relative;
    }

    #proSkills {
        top: -60px;
        left: 220px;
    }

    #languages {
        position: relative;
        left: 0px;
        top: -72px;
    }

    #course {
        position: relative;
        left: -160px;
        top: -40px;
    }

    #lanSkills {
        top: -50px;
        left: 60px;
        overflow: auto;
    }

    #couSkills {
        position: relative;
        top: -80px;
        left: 220px;
    }

    #Education, #Experience, #Projects {
        position: relative;
        top: -80px;
    }
}

@media only screen and (min-width: 434px) and (max-width: 454px) {
    .skillType {
        float: left;
    }

    .skill {
        width: 50%;
        position: relative;
    }

    #proSkills {
        top: -60px;
        left: 220px;
    }

    #languages {
        position: relative;
        left: 0px;
        top: -72px;
    }

    #course {
        position: relative;
        left: 0px;
        top: -40px;
    }

    #lanSkills {
        top: -50px;
        left: 60px;
        overflow: auto;
    }

    #couSkills {
        position: relative;
        top: -80px;
        left: 220px;
    }

    #Education, #Experience, #Projects {
        position: relative;
        top: -80px;
    }
}

@media only screen and (min-width: 100px) and (max-width: 433px) {
    .skillType {
        float: left;
    }

    .skill {
        width: 50%;
        position: relative;
    }

    #proSkills {
        top: -60px;
        left: 220px;
    }

    #languages {
        position: relative;
        left: 0px;
        top: -72px;
    }

    #course {
        position: relative;
        left: 0px;
        top: -90px;
    }

    #lanSkills {
        top: -110px;
        left: 220px;
        overflow: auto;
    }

    #couSkills {
        position: relative;
        top: -130px;
        left: 220px;
    }

    #Education, #Experience, #Projects {
        position: relative;
        top: -130px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 555px) {
    #program {
        float: left;
    }
    #languages {
        float: left;
    }
    #course {
        position: relative;
        top: -5px;
    }
    #lanSkills {
        position: relative;
        left: -110px;
    }
    #couSkills {
        width: 50%;
        overflow-wrap: break-word;
        position: relative;
        top: -45px;
        left: 257px;
    }

    #Education, #Experience, #Projects {
        position: relative;
        top: -40px;
    }

}
