body {
    margin: 50px;
}

#name {
    font-size: 20px;
}

#headline {
    font-size: 18px;
}

#info p {
    display: inline-block;
    margin-right: 5px;
    margin-top: 0px;
}

.sectionHead {
    float: left;
    font-weight: normal;
    border-bottom: 2px solid;
    width: 100%;
}

.locations {
    position: relative;
    left: 5%;
}

@media only screen and (min-width: 500px) {
    .skillType {
        float: left;
    }

.skills {
    float: right;
}
}

#program {
    position: relative;
    top: -21px;
}

#languages {
    position: relative;
    top: -21px;
    left: -210px;
}

#course {
    position: relative;
    top: -21px;
    left: -370px;
}

#proSkills {
    position: relative;
    left: 50px;
}

#lanSkills {
    position: relative;
    left: -26px;
}

#couSkills {
    position: relative;
    left: -186px;
}

.title {
    float: left;
    position: relative;
    top: -22px;
}

.projectDates {
    float: center;
    position: relative;
    left: 10px;
}

.projectLang {
    float: center;
    position: relative;
    top: -34px;
    left: 180px;
    
}

#Projects .description {
    position: relative;
    top: -30px;
}

@media only screen and (max-width: 500px) {
    #skills h3, #skills p {
        float: right;
        position: relative;
        left: 3%;
    }
    .projectLang {
        float: center;
        position:  relative;
        top: -10%;
    }
    

}
